body {
    display: flex;
    font-family: "Roboto", sans-serif;
    margin: 0;

    --sidebar-width: 250px;
}

main {
    margin-left: var(--sidebar-width);
}

nav {
    position: fixed
}

nav.sidebar {
    width: var(--sidebar-width);
    height: 100vh;
    background: #1e1e1e;
    color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

nav.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

nav.sidebar li > a {
    width: 70%;
    text-align: center;
    display: block;
    text-decoration: none;
    color: #fff;
}

nav.sidebar li.main > a {
    margin-top: 2rem;
    margin-bottom: 0.75rem;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

nav.sidebar li.nav > a {
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 5px;
    transition: all 0.15s ease-in-out;
    background-color: #f39301;
}

nav.sidebar li.main > a:hover {
    transform: scale(1.3);
}

nav.sidebar li.nav > a:hover {
    background-color: #f3b101;
    transform: scale(1.1);
    color: #000;
}

nav.sidebar li {
    width: 100%;
    display: flex;
    justify-content: center;
}
