body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    background-image: url('bg.png');
    background-position: center;
    background-repeat: repeat-y;
}

div#logo-wrapper {
  text-align: center;
}

#logo {
  width: 25%;
  height: 25%;
  margin: -100px;
  margin-top: 50px;
  overflow: hidden;
}
  h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 1rem 0;
  }
  
  p {
    color: #555;
    margin: 0.5rem 1rem;
    line-height: 1.5;
  }
  
  a {
    margin-top: 10px;
    display: block;
    text-align: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    border-radius: 4px;
  }

  .button-wrapper {
    max-width: 500px; 
    margin: 0 auto;
  }

  .call-to-action {
    background-color: forestgreen;
    padding: 12px;
    font-weight: bold;
  }

  .link-button {
    margin: 12px;
  }
  