
button {
    background-color: #4c78af; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
/* 
when hoverred */
    transition: all 0.1s;
}

button:hover {
    background-color: #68a4e4; /* Green */
    color: black;
    transform: scale(1.05);
}
/*  clicked */
button:active {
    background-color: #4c78af; /* Green */
    color: black;
    transform: scale(0.95);
}

tr:nth-child(even) {
    background-color: #e0e0e0;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 300px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    float: left;
    margin: 10px;   
}

.card div {
    padding: 20px;
    margin: 0px;
}
/* make p and button in the same line */
.card p {
    display: inline;
    margin: 0;
    padding: 0;
    float: left;
    width: 60%;
}
.card button {
    
    float: right;
    width: 30%;
    margin: 0;
    padding: 0;
}

.time-select {
    margin: 3rem 0;
}

.time-select button {
    padding: 0.5rem 1rem;
}

#tables {
    display: flex;
    gap: 2rem;
    flex-flow: wrap;
}

.table {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(17, 17, 17);
    border-radius: 10px;
    padding: 1.3rem;
    width: 30vw;
}

.table h2 {
    margin-bottom: 0.5rem;
}

.file {
    display: flex;
    justify-content: space-between;
    
}

.file p {
    margin: 0;
    margin-bottom: 1rem;
    padding: 0;
    word-wrap: break-word;
}

.file button {
    margin: 0;
    padding: 0;
    height: 100%;
    min-width: 70px;
    padding: 0.7rem;
    margin-bottom: 1rem;
}